<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
<!-- 微服务提供者配置文件，作用是把提供者的端口，
实现类信息发给服务注册中心zookeeper -->
<!-- 1,设置应用（微服务）名称 -->
<dubbo:application name="provider1-of-jtcart"/>

<!-- 2,设置zookeeper的ip地址和端口号 -->
<dubbo:registry timeout="900000"
address="zookeeper://192.168.216.210:2181">
</dubbo:registry>

<!-- 3,设置微服务的端口号 -->
<dubbo:protocol port="20884" name="dubbo">
</dubbo:protocol>

<!-- 4,设置实现类 -->
<bean id="CartServiceImpl"
class="com.jt.cart.service.CartServiceImpl">
</bean>
<!-- 5,设置客户端访问服务的地址，地址是接口名 -->
<dubbo:service timeout="900000"
interface="com.jt.cart.service.CartService"
ref="CartServiceImpl"
>
</dubbo:service>

</beans>